# Node modules
node_modules

# Adonis directory for storing tmp files
tmp

# Environment variables, never commit this file
.env

# The development sqlite file
database/*.sqlite

#Environment variables file that keeps popping up
.env.example

#Visual studio preferences
.vs